$ps-text-color: #f02;

body {
  color: $ps-text-color;
}

#pitcher_display {
  display: none;
}

#batter_display {
  display: block;
}

#batter_player_filter_area {
  display: block;
}

#batter_card_filter_area, #batter_batting_filter_area, #batter_field_filter_area,
  #batter_pitching_filter_area {
  display: none;
}

#pitcher_player_filter_area {
  display: block;
}

#pitcher_card_filter_area, #pitcher_batting_filter_area, #pitcher_field_filter_area,
  #pitcher_pitching_filter_area {
  display: none;
}

.field label {
  font-size: 11px;
}

.lefty {
  transform: scaleX(-1);
}

.hand_icons {
  font-size: 26px; color: Dodgerblue;
}

.tier-strip {
  color: #eee;
  width: 80%;
  margin-left: 8px;
}

.tier-strip td {
  text-align: center;
  width: 50px;
}

.tier-select-one {
  background-color: #ddd;
  color: #888;
}

.tier-perfect {
  background-color: #222;
  color: #ffff80;
}

.tier-diamond {
  background-color: #00ace6;
}

.tier-gold {
  background-color: #e6ac00;
}

.tier-silver {
  background-color: #999;
}

.tier-bronze {
  background-color: #bf8040;
}

.tier-iron {
  background-color: #555;
}

.ps-slider {
  width: 230px;
}

.ps-slider.year {
  width: 190px;
}

.ps-slider-label {
  text-align: right;
  background-color: #d00;
  color: #eee;
  font-weight: 900;
  font-size: 12px;
  padding: 4px;
}

#batter_display .accordion-body {
  background-color: lime;
  height: 428px;
  vertical-align: top;
}



.tryit {
  background-color: brown; color: white;
}

.tryit:checked  {
  background-color: green; color: black; font-weight: 900; font-size: 14px;
}
