$ps-text-color: #f02;

body {
  color: $ps-text-color;
}

#pitcher_display {
  display: none;
}

#batter_display {
  display: block;
}

#batter_player_filter_area {
  display: block;
}

#batter_card_filter_area, #batter_batting_filter_area, #batter_field_filter_area,
  #batter_pitching_filter_area {
  display: none;
}

#pitcher_player_filter_area {
  display: block;
}

#pitcher_card_filter_area, #pitcher_batting_filter_area, #pitcher_field_filter_area,
  #pitcher_pitching_filter_area {
  display: none;
}

.field label {
  font-size: 11px;
}

.lefty {
  transform: scaleX(-1);
}

.hand_icons {
  font-size: 26px; color: Dodgerblue;
}

.tier-strip {
  color: #eee;
  width: 80%;
  margin-left: 8px;
}

.tier-strip td {
  text-align: center;
  width: 50px;
}

.tier-select-one {
  background-color: #ddd;
  color: #888;
}

.tier-peak {
  background-color: #222;
  color: #ffff80;
}

.tier-diamond {
  background-color: #00ace6;
}

.tier-gold {
  background-color: #e6ac00;
}

.tier-silver {
  background-color: #999;
}

.tier-bronze {
  background-color: #bf8040;
}

.tier-iron {
  background-color: #555;
}

.ps-slider {
  width: 280px;
}

.ps-slider.year {
  width: 240px;
}

.ps-slider-label {
  text-align: right;
  background-color: #d00;
  color: #eee;
  font-weight: 900;
  font-size: 12px;
  padding: 4px;
}

/*
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

#mainselection select option {
 margin: 40px;
 background: rgba(0, 0, 0, 0.3);
 color: #fff;
 text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#mainselection select option[value="*"] {
 background: rgba(100, 100, 100, 0.3);
}

#mainselection select option[value="p"] {
 background: #ff0000 url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

#mainselection select option[value="d"] {
 background: rgba(200, 200, 200, 0.3);
}

#mainselection select option[value="g"] {
 background: rgba(250, 250, 250, 0.3);
}

*/
.tryit {
  background-color: brown; color: white;
}

.tryit:checked  {
  background-color: green; color: black; font-weight: 900; font-size: 14px;
}
